---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <div class="container pb-5 pt-3">
    <h1 class="display-6 fw-bold pb-3 mt-3">Contact Us</h1>
    <p>
      If you have any issues with Trash Transit, please contact the staff at <a
        href="mailto:ktlauer@proton.me">ktlauer@proton.me</a
      >.
    </p>
  </div>
</Layout>
