---
import Layout from "../layouts/Layout.astro";
---

<style>
  h2:not(:first-of-type) {
    margin-top: 2rem;
  }
</style>
<Layout title="Privacy Policy">
  <div class="container pb-5 pt-3">
    <h1 class="display-2 fw-bold">Privacy Policy</h1>
    <p class="text">Effective Date: December 19, 2024</p>
    <hr />

    <h2 class="mt-4 fw-bold">Introduction</h2>
    <p class="text">
      Welcome to Trash Transit! Your privacy is important to us. This Privacy
      Policy explains how we collect, use, and share information submitted
      through our mobile app, available on iOS and Android platforms. By using
      Trash Transit, you agree to the practices described in this Privacy
      Policy.
    </p>

    <h2 class="fw-bold">Information We Collect</h2>
    <p class="text">
      Trash Transit does not collect any personal information or create user
      accounts. All data submitted through the app is:
    </p>
    <ol>
      <li class="bullet">
        <span class="fw-bold">Voluntarily Provided</span>: Users may submit
        comments or report the time they waited for a bus or train in their
        respective city.
      </li>
      <li class="bullet">
        <span class="fw-bold">Anonymized</span>: Submissions are not linked to
        any identifiable user information.
      </li>
    </ol>

    <h2 class="fw-bold">How We Use Your Information</h2>
    <p class="text">The data you submit is used to:</p>
    <ul>
      <li class="bullet">Share public feedback about transit experiences.</li>
      <li class="bullet">
        Provide aggregated, anonymized information to other users about transit
        wait times.
      </li>
    </ul>

    <h2 class="fw-bold">Public Data</h2>
    <p class="text">
      All data submitted through Trash Transit is made public. This includes:
    </p>
    <ul>
      <li class="bullet">Comments submitted by users.</li>
      <li class="bullet">Transit wait times reported by users.</li>
    </ul>
    <p class="text">
      By submitting data, you acknowledge that it will be publicly available and
      accessible to other users of the app and potentially external parties.
    </p>

    <h2 class="fw-bold">Data Sharing</h2>
    <p class="text">
      Trash Transit does not share any additional information with third parties
      beyond the anonymized, publicly available data submitted by users.
    </p>

    <h2 class="fw-bold">Data Security</h2>
    <p class="text">
      We take reasonable measures to secure the data submitted through the app.
      However, as all submissions are anonymized and made public, users should
      avoid submitting any sensitive or personal information.
    </p>

    <h2 class="fw-bold">Children’s Privacy</h2>
    <p class="text">
      Trash Transit is not intended for individuals under the age of 18. We do
      not knowingly collect any personal information from children. If you
      believe a child has submitted information, please contact us so we can
      take appropriate action.
    </p>

    <h2 class="fw-bold">Changes to This Privacy Policy</h2>
    <p class="text">
      We may update this Privacy Policy from time to time. Any changes will be
      effective when we post the updated Privacy Policy within the app. Your
      continued use of the app after any changes indicates your acceptance of
      the updated terms.
    </p>

    <h2 class="fw-bold">Contact Us</h2>
    <p>
      If you have any questions or concerns about these Terms of Service, please
      contact us at:
    </p>
    <address>
      HBFH Enterprises, LLC<br />
      Email: <a href="mailto:ktlauer@proton.me">ktlauer@proton.me</a>
    </address>
    <p class="fw-bold">Thank you for using Trash Transit!</p>
  </div>
</Layout>
